pipeline/PY_SQLSERVER_BLOB.json
{
	"name": "PY_SQLSERVER_BLOB",
	"properties": {
		"activities": [
			{
				"name": "CPY_SQLSERVER_BLOB",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ""
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Index",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "Index",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "User_Id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "User_Id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "First_Name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "First_Name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Last_Name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Last_Name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Sex",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Sex",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Email",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Email",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Phone",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Phone",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Date_of_birth",
									"type": "Date",
									"physicalType": "date"
								},
								"sink": {
									"name": "Date_of_birth",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Job_Title",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Job_Title",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQL_ADLSMIGRATION",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BLOBCSV",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP_AUDIT_SUCCESS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CPY_SQLSERVER_BLOB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[loadstatus]",
					"storedProcedureParameters": {
						"dataread": {
							"value": {
								"value": "@activity('CPY_SQLSERVER_BLOB').output.dataread",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorid": {
							"value": null,
							"type": "String"
						},
						"errormessage": {
							"value": null,
							"type": "String"
						},
						"loadstatus": {
							"value": {
								"value": "@activity('CPY_SQLSERVER_BLOB').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@concat(pipeline().parameters.schemaname, '.', pipeline().parameters.tablename)\n",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SP_SQLSERVER",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP_AUDIT_FAILURE",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CPY_SQLSERVER_BLOB",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[loadstatus]",
					"storedProcedureParameters": {
						"dataread": {
							"value": {
								"value": "@activity('CPY_SQLSERVER_BLOB').output.dataread",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorid": {
							"value": {
								"value": "@activity('CPY_SQLSERVER_BLOB').output.errors[0].code",
								"type": "Expression"
							},
							"type": "String"
						},
						"errormessage": {
							"value": {
								"value": "@activity('CPY_SQLSERVER_BLOB').output.errors[0].message",
								"type": "Expression"
							},
							"type": "String"
						},
						"loadstatus": {
							"value": {
								"value": "@activity('CPY_SQLSERVER_BLOB').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@concat(pipeline().parameters.schemaname, '.', pipeline().parameters.tablename)\n",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SP_SQLSERVER",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"schemaname": {
				"type": "string",
				"defaultValue": "audit"
			},
			"tablename": {
				"type": "string",
				"defaultValue": "copylog"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-17T11:40:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}